<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="clienteForm" *ngIf="clienteForm" (ngSubmit)="submit()">    
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input formControlName="CPF" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input formControlName="telefone" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">endereco</ion-label>
      <ion-input formControlName="endereco" type="text"></ion-input>
    </ion-item>

    <ion-button shape="round" expand="block" 
                padding type="submit" *ngIf="!modoDeEdicao">
      Cadastrar      
    </ion-button>
    <ion-button shape="round" expand="block" 
                padding type="submit" *ngIf="modoDeEdicao">
      Alterar
    </ion-button>
  </form>
</ion-content>
