<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SystemPad</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-list>
    <ion-title>Seja Bem-Vindo</ion-title>
    <ion-button fill="solid" (click)="router('vendas')" expand="block">
      <ion-icon slot="start" name="cash-outline" size="large"></ion-icon>
      Vendas
    </ion-button>

    <ion-button fill="solid" (click)="router('clientes')" expand="block">
      <ion-icon slot="start" name="person-circle" size="large"></ion-icon>
      Clientes
    </ion-button>

    <ion-button fill="solid" (click)="router('produtos')" expand="block">
      <ion-icon slot="start" name="cube-outline" size="large"></ion-icon>
      Produtos
    </ion-button>

    <ion-button fill="solid" (click)="router('atendentes')" expand="block">
      <ion-icon slot="start" name="home" size="large"></ion-icon>
      Atendentes
    </ion-button>
  
  </ion-list>

</ion-content>