ion-list {
    padding-top: 20%;

    ion-title {
        padding-bottom: 20px;
    }

    ion-button {
        padding-bottom: 10px;
        height: 60px;
        font-size: 16px;
    }
}

ion-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #131313;
}