<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/clientes/add-clientes">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <ion-list>
    <ion-item-sliding *ngFor="let cliente of cliente">
      <ion-item>
        <ion-thumbnail slot="start" class="thumb">
        
        </ion-thumbnail>
        <ion-label>
          <p>{{cliente.id}}</p>
          <h2>{{cliente.nome}}</h2>
          <p>{{cliente.telefone}}</p>
          <p>{{cliente.CPF}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option routerLink="/clientes/add-clientes/{{cliente.id}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="excluirCliente(cliente.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>