<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/clientes/add-clientes">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <ion-list>
    <ion-item-sliding *ngFor="let cliente of cliente">
      <ion-item>

        <div class="cardCliente">
          <div class="imgCliente">
        <ion-thumbnail slot="start" class="thumb">
            <img src="{{cliente.imagem}}">
        </ion-thumbnail>
          </div>
        
        <ion-label>
          <h2>Nome: {{cliente.nome}}</h2>
          <p>CPF: {{cliente.cpf}}</p>
          <p>Telefone: {{cliente.telefone}}</p>
          <p>Código: {{cliente.id}}</p>
        </ion-label>
      </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option routerLink="/add-clientes/{{cliente.id}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="excluirCliente(cliente.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>