<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/vendas/item-venda">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <ion-list>
    <ion-item-sliding *ngFor="let venda of venda">
      <ion-item>       
        <ion-label>
          <h2>Codigo da Venda: {{venda.id}}</h2>    
          <p>Valor Total: R$ {{venda.preco}}0,00</p>
          <p>Forma de Pagamento: {{venda.pagamento}}</p>
          <p>Atendente: {{venda.atendente.nome}}</p>
          <p>Cliente: {{venda.cliente.nome}}</p>
         
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option routerLink="/vendas/add-vendas/{{venda.id}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="excluirVenda(venda.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content> 
