<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/produtos/add-produtos">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <ion-list>
    <ion-item-sliding *ngFor="let produto of produto">
      <ion-item>
        <ion-thumbnail slot="start" class="thumb">
          <img src="{{produto.imagem}}">
        </ion-thumbnail>
        <ion-label>
          <p>{{produto.id}}</p>
          <h2>{{produto.nome}}</h2>
          <p>{{produto.descricao}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option routerLink="/produtos/add-produtos/{{produto.idProduto}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="excluirProduto(produto.idProduto)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>